.backgroundImage {
    background: url("../../assets/backgroundimage2.jpg") center/cover no-repeat; 
    background-attachment: fixed; 
    background-size: cover; 
    background-position: center; 
    width: 100%; 
    min-height: 100vh; /* Allow the container to grow with content */
    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: -1; 
    overflow-y: auto; /* Enable vertical scrolling for content */
}

.layoutmainBody{
    position: relative;
    top: 112px;
}